{% extends "base.html.twig" %}

{% block content %}

    {% for post in posts %}
        <div>
            <h2>
                <a href="{{ path('blog_show', {id: post.id }) }}">
                [#{{ post.id }}]
                {{ post.title }}
                </a>
            </h2>
            {{ post.date|date("d/m/Y H:i") }}
        </div>
    {% else %}
        Désolé, aucun post à afficher
    {% endfor %}

{% endblock %}
