{% extends 'base.html.twig' %}

{% block title %}
    {{ name??'world' }}
{% endblock %}

{% block body %}
    <h1>Hello {{ (name??'world')|capitalize }}</h1>
    qsdlkqsjdlksqd
    qsdqsdd

{% endblock %}


