{% extends 'blog/base.html.twig' %}

{% block content %}
<div class="border">
<form action="{{ path('post_save') }}" method="post">
    title : <input name="title">
    <br>
    content : <textarea name="content"></textarea>
    <br>
    <input type="submit">
</form>
    <a href="{{ path('post_list') }}">Retour</a>
</div>
{% endblock %}

