{% extends 'blog/base.html.twig' %}

{% block content %}
<div class="border">
<form action="{{ path('post_edit_save', {id: post.id}) }}" method="post">
    title :
    <input name="title" value="{{ post.title }}">
    <br>
    content :
    <textarea name="content">{{ post.content }}</textarea>
    <br>
    <input type="submit">
</form>
    <a href="{{ path('post_list') }}">Retour</a>
</div>
{% endblock %}

