{% if app.user %}
    {{ app.user.email }}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('app_login') }}">Connexion</a>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
    Vous êtes admin
{% else %}
    Vous n'êtes PAS admin
{% endif %}
