<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% include "parts/header.html.twig" %}
        {% include "parts/menu.html.twig" %}

        <div class="content">
        {% block content %}{% endblock %}
        </div>

        {% include "parts/footer.html.twig" %}

    <script src="/js/app.js"></script>
    </body>
</html>
