<nav>
    <ul>
        <li><a href="{{ path('hello_world') }}">Hello world</a></li>
        <li><a href="{{ path('hello_nom', {nom: 'Luc'}) }}">Hello Luc</a></li>
        <li><a href="{{ path('blog_list') }}">le Blog</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
</nav>
