{% extends "base.html.twig" %}

{% block title %}
Hello {{ nom }} !
{% endblock %}

{% block content %}

    <h1>Hello {{ nom }} !</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum sapien ac dictum mollis. Maecenas eleifend at purus eget consequat. Praesent semper iaculis ipsum id dictum. Integer fermentum eget nisl faucibus elementum. Ut pharetra leo et molestie congue. Aliquam at eleifend nibh, eleifend congue libero. Aliquam auctor volutpat porttitor. In suscipit auctor elit, sed placerat eros sollicitudin et. Aliquam sollicitudin finibus ligula, et porttitor velit semper non. Suspendisse potenti. Ut feugiat eget mauris cursus tincidunt. Aenean eu neque tempus, tempus lacus et, tincidunt elit. Fusce ullamcorper ex at ex condimentum pretium.
    </p>

{% endblock %}


