<nav>
  <a href="{{ path('helloworld') }}">Hello world</a>
  <a href="{{ path('post_list') }}">Liste des posts</a>
  <a href="{{ path('post_random') }}">Un post au hasard</a>
  <a href="{{ path('post_new') }}">Créer un post</a>
</nav>
